<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.googleAnalyticsTrackingId}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{site.googleAnalyticsTrackingId}}');
</script>

<!--PageSense-->
<script type="text/javascript">(function(w,s){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="https://cdn.pagesense.io/js/wb3tech/c8377ee5654a402a92de6572fdceaced.js";var x=document.getElementsByTagName("script")[0];x.parentNode.insertBefore(e,x);})(window,"script");</script>

<script>var w=window;var p = w.location.protocol;if(p.indexOf("http") < 0){p = "http"+":";}var d = document;var f = d.getElementsByTagName('script')[0],s = d.createElement('script');s.type = 'text/javascript'; s.async = false; if (s.readyState){s.onreadystatechange = function(){if (s.readyState=="loaded"||s.readyState == "complete"){s.onreadystatechange = null;try{loadwaprops("27218d28c96aa859e2d9b5ffddce997b3","239e67f875c7dbaa706e495b3773da282","220218ecc4e977be9029aa1599412914a894375f7a7d2d66f","2d0aeff523775c21ce5d52eb2be66bf17","0.0");}catch(e){}}};}else {s.onload = function(){try{loadwaprops("27218d28c96aa859e2d9b5ffddce997b3","239e67f875c7dbaa706e495b3773da282","220218ecc4e977be9029aa1599412914a894375f7a7d2d66f","2d0aeff523775c21ce5d52eb2be66bf17","0.0");}catch(e){}};};s.src =p+"//marketinghub.zoho.com/hub/js/WebsiteAutomation.js";f.parentNode.insertBefore(s, f);</script>