<section id="share-your-problem" class="share-your-problem image-section parallax" style="background-color: #ffffff !important;">
    <div class="container">
        <div class="col-lg-12 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3 class="title">{{ site.shareYourProblem.title }}</h3>
            <div id="mc_embed_signup" class="col-lg-12 col-sm-12">
                <div class="mc-submit-group clear col-lg-12 col-sm-12 col-xs-12">
                        <a href="/share-your-problem" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_top">Share It With Us</a> 
                </div>
            </div>
        </div>
    </div>
</section>